<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FreeRide - login</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link th:href="@{/css/background.css}" rel="stylesheet"/>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>

</head>
<body>

<div class="wrapper">
    <div class="content">
        <!-- Navigation -->
        <th:block th:include="includes/navigation :: main-nav"/>

        <!-- Page Content -->
        <div class="container" id="form-container">

            <div class="row">
                <div>
                    <h1 th:text="'404'"></h1>
                    <h3 th:text="'Sorry, cannot find page'"></h3>

                </div>

            </div>
        </div>
    </div>

    <div class="footer">
        <!-- Footer -->
        <th:block th:include="includes/footer :: main-footer"/>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>

</body>
</html>