@media (-webkit-transform-3d) {
    .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    .active.carousel-item-right, .carousel-item-next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0)
    }
    .active.carousel-item-left, .carousel-item-prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0)
    }
}
@supports ((-webkit-transform:translate3d(0,0,0)) or (transform:translate3d(0,0,0))) {
    .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    .active.carousel-item-right, .carousel-item-next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0)
    }

    .active.carousel-item-left, .carousel-item-prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0)
    }
}