<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<th:block th:fragment="admin-stat">

    <div class="col-6">
        <h1 class="my-4" th:text="'Statistics'"></h1>
        <table class="table" style="background-color: #fff">
            <tr>
                <td><h5 th:text="'Items on site'"></h5></td>
                <td th:text="${itemsOnSite}"></td>
            </tr>
            <tr>
                <td><h5 th:text="'Categories on site'"></h5></td>
                <td th:text="${categoriesOnSite}"></td>
            </tr>
            <tr>
                <td><h5 th:text="'Users registered'"></h5></td>
                <td th:text="${usersOnSite}"></td>
            </tr>
        </table>
    </div>

    <th:block th:include="includes/admin/admin-comments :: admin-comments"/>

</th:block>

</body>
</html>