<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<th:block th:fragment="main-items-carousel">

    <div class="my-3 float-right" id="cart-controllers">

    </div>

    <div class="col-md-12 mb-4">
        <div class="carousel slide" id="myCarousel" data-ride="carousel">
            <div class="carousel-inner">

                <!-- The first item is Active-->
                <!--All other items are not active-->
                <th:block th:each="item,itr : ${items}">
                    <th:block th:include="includes/items-carousel :: list-carousel"></th:block>
                </th:block>


            </div>
            <a class="carousel-control-prev btn btn-secondary" style="width:4%;margin-left:-4%" href="#myCarousel"
               role="button" data-slide="prev">
                <i class="fa fa-chevron-left fa-lg text-muted"></i>
            </a>
            <a class="carousel-control-next btn btn-secondary" style="width:4%;margin-right:-4%" href="#myCarousel"
               role="button" data-slide="next">
                <i class="fa fa-chevron-right fa-lg text-muted"></i>
            </a>
        </div>
    </div>


</th:block>


</body>
</html>